body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dl,dt,dd,input{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: 0;
	vertical-align: unset !important;
}

a{
	text-decoration: none;
}

body{
	font-family: "微软雅黑","楷体"
}
