{include file='index/header.html'}
<link rel="stylesheet" href="{CSS_PATH}index/mine.css" />
		<div class="minerow">
			<div class="rowmain">
				<div class="row_top">
					<a href="index.php?a=mineset"><img src="{$result['imgurl']}" alt="" /></a>
					<div class="mtitle">
						<a href="">{$result['uname']}</a>
						<div class="usign">个性签名：<span>{$result['usign']}</span></div>
					</div>
					<div class="info">
						<ul>
							<li><a href="javascript:;">
								<p>0</p><span>关注></span>
							</a></li>
							<li><a href="javascript:;">
								<p>0</p><span>粉丝></span>
							</a></li>
							<li><a href="javascript:;">
								<p>0</p><span>文章></span>
							</a></li>
							<li><a href="javascript:;">
								<p>0</p><span>字数</span>
							</a></li>
							<li><a href="javascript:;">
								<p>0</p><span>收获喜欢</span>
							</a></li>
						</ul>
					</div>
					<div class="contenir">
						<ul class="tirgger active">
							<li class="active"><a href="javascript:;"><i class="icon icon5">&#xe619;</i>文章</a></li>
							<li><a href="javascript:;"><i class="icon icon2">&#xe626;</i>订阅</a></li>
							<li><a href="javascript:;"><i class="icon icon1">&#xe603;</i>收藏</a></li>
						</ul>
						<ul class="tirgger">
							<li class="active"><a href="javascript:;"><i class="icon icon2">&#xe705;</i>我关注的</a></li>
							<li><a href="javascript:;"><i class="icon icon1">&#xe62f;</i>我的粉丝</a></li>

						</ul>
					</div>
				</div>
				<div class="row_fot">
					<ul class="minecont">
						<li></li>
						<li></li>
						<li></li>
					</ul>
					<ul class="minecont">
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
